In [1]:
import json
import pandas as pd
from pandas.io.json import json_normalize
#since the data is stored as a multiple json objects;and load function cannot retreive json file 
# with multiple objects and displays "extra data error"; therefore, we wrap all these objects into a list 
#of dictionaries as follows:
my_list= []
with open('usa_gov_click_data_task2.json') as f:
    for json_obj in f: #reading line by line; as each line has a json object
        my_dict = json.loads(json_obj) #putting each line in a dict object
        my_list.append(my_dict) # appending the currently read object in the list of dict objects 
df=pd.DataFrame(my_list)
#df.rename(columns = {'a:web_browser_op_sys', 'r:from_url', 'u: to_url', 'cy: city', 
                   # 'll:longitude_latitude','tz: time_zone',
                   # 't : time_in', 'hc : time_out'}, inplace=True)
df

,a,c,nk,tz,gr,g,h,l,al,hh,r,u,t,hc,cy,ll,_heartbeat_,kw
0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,1.0,America/New_York,MA,A6qOVH,wfLQtf,orofrog,"en-US,en;q=0.8",1.usa.gov,http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/...,http://www.ncbi.nlm.nih.gov/pubmed/22415991,1.331923e+09,1.331823e+09,Danvers,"[42.576698, -70.954903]",NaN,NaN
1,GoogleMaps/RochesterNY,US,0.0,America/Denver,UT,mwszkS,mwszkS,bitly,NaN,j.mp,http://www.AwareMap.com/,http://www.monroecounty.gov/etc/911/rss.php,1.331923e+09,1.308262e+09,Provo,"[40.218102, -111.613297]",NaN,NaN
2,Mozilla/4.0 (Windows NT 6.1; MSIE 8.0; Windows...,US,1.0,America/New_York,DC,xxr3Qb,xxr3Qb,bitly,en-US,1.usa.gov,http://t.co/03elZC4Q,http://boxer.senate.gov/en/press/releases/0316...,1.331923e+09,1.331920e+09,Washington,"[38.9007, -77.043098]",NaN,NaN
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,BR,0.0,America/Sao_Paulo,27,zCaLwp,zUtuOu,alelex88,pt-br,1.usa.gov,direct,http://apod.nasa.gov/apod/ap120312.html,1.331923e+09,1.331923e+09,Braz,"[-23.549999, -46.616699]",NaN,NaN
4,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,0.0,America/New_York,MA,9b6kNl,9b6kNl,bitly,"en-US,en;q=0.8",bit.ly,http://www.shrewsbury-ma.gov/selco/,http://www.shrewsbury-ma.gov/egov/gallery/1341...,1.331923e+09,1.273672e+09,Shrewsbury,"[42.286499, -71.714699]",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3555,Mozilla/4.0 (Windows NT 6.1; MSIE 9.0; Windows...,US,1.0,America/New_York,NJ,e5SvKE,fqPSr9,tweetdeckapi,en,1.usa.gov,direct,http://www.fda.gov/AdvisoryCommittees/Committe...,1.331927e+09,1.301298e+09,Paramus,"[40.9445, -74.07]",NaN,NaN
3556,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,US,0.0,America/Chicago,OK,jQLtP4,jQLtP4,bitly,"en-US,en;q=0.8",1.usa.gov,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,http://www.okc.gov/PublicNotificationSystem/Fo...,1.331927e+09,1.307530e+09,Oklahoma City,"[35.4715, -97.518997]",NaN,NaN
3557,GoogleMaps/RochesterNY,US,0.0,America/Denver,UT,mwszkS,mwszkS,bitly,NaN,j.mp,http://www.AwareMap.com/,http://www.monroecounty.gov/etc/911/rss.php,1.331927e+09,1.308262e+09,Provo,"[40.218102, -111.613297]",NaN,NaN
3558,GoogleProducer,US,0.0,America/Los_Angeles,CA,zjtI4X,zjtI4X,bitly,NaN,1.usa.gov,direct,http://www.ahrq.gov/qual/qitoolkit/,1.331927e+09,1.327529e+09,Mountain View,"[37.419201, -122.057404]",NaN,NaN
3559,Mozilla/4.0 (Windows NT 6.1; MSIE 8.0; Windows...,US,0.0,America/New_York,VA,qxKrTK,qxKrTK,bitly,en-US,1.usa.gov,http://t.co/OEEEvwjU,http://herndon-va.gov/Content/public_safety/Pu...,1.331927e+09,1.312898e+09,Mc Lean,"[38.935799, -77.162102]",NaN,NaN

In [2]:
#df[['web_browser','operating_system']]
x=df.a.str.split(pat="[()]", n=0, expand=True)
part_1=x[[0,1]]
part_1

,0,1
0,Mozilla/5.0,Windows NT 6.1; WOW64
1,GoogleMaps/RochesterNY,None
2,Mozilla/4.0,Windows NT 6.1; MSIE 8.0; Windows NT 6.1; WOW6...
3,Mozilla/5.0,Macintosh; Intel Mac OS X 10_6_8
4,Mozilla/5.0,Windows NT 6.1; WOW64
...,...,...
3555,Mozilla/4.0,Windows NT 6.1; MSIE 9.0; Windows NT 6.1
3556,Mozilla/5.0,Windows NT 5.1
3557,GoogleMaps/RochesterNY,None
3558,GoogleProducer,None
3559,Mozilla/4.0,Windows NT 6.1; MSIE 8.0; Windows NT 6.1; Trid...

In [3]:
part_1.columns=['web_browser','operating_system']
part_1

,web_browser,operating_system
0,Mozilla/5.0,Windows NT 6.1; WOW64
1,GoogleMaps/RochesterNY,None
2,Mozilla/4.0,Windows NT 6.1; MSIE 8.0; Windows NT 6.1; WOW6...
3,Mozilla/5.0,Macintosh; Intel Mac OS X 10_6_8
4,Mozilla/5.0,Windows NT 6.1; WOW64
...,...,...
3555,Mozilla/4.0,Windows NT 6.1; MSIE 9.0; Windows NT 6.1
3556,Mozilla/5.0,Windows NT 5.1
3557,GoogleMaps/RochesterNY,None
3558,GoogleProducer,None
3559,Mozilla/4.0,Windows NT 6.1; MSIE 8.0; Windows NT 6.1; Trid...

In [4]:
y= df.r.str.split(pat="[// /]", n=3, expand=True)
part_2=y[[2]]
part_2.columns= ['From_URL']
part_2

                   From_URL
0          www.facebook.com
1          www.AwareMap.com
2                      t.co
3                      None
4     www.shrewsbury-ma.gov
...                     ...
3555                   None
3556       www.facebook.com
3557       www.AwareMap.com
3558                   None
3559                   t.co

[3560 rows x 1 columns]

In [5]:
z= df.u.str.split(pat="[// /]", n=3, expand=True)
part_3=z[[2]]
part_3.columns= ['To_URL']
part_3

                     To_URL
0      www.ncbi.nlm.nih.gov
1      www.monroecounty.gov
2          boxer.senate.gov
3             apod.nasa.gov
4     www.shrewsbury-ma.gov
...                     ...
3555            www.fda.gov
3556            www.okc.gov
3557   www.monroecounty.gov
3558           www.ahrq.gov
3559         herndon-va.gov

[3560 rows x 1 columns]

In [6]:
import re
x2= df['ll'].astype(str).str.replace('\[|\]','')
part_4= x2.str.split(pat= ',', n=0, expand= True)
part_4.columns= ['longtude', 'latitude']
part_4

        longtude      latitude
0      42.576698    -70.954903
1      40.218102   -111.613297
2        38.9007    -77.043098
3     -23.549999    -46.616699
4      42.286499    -71.714699
...          ...           ...
3555     40.9445        -74.07
3556     35.4715    -97.518997
3557   40.218102   -111.613297
3558   37.419201   -122.057404
3559   38.935799    -77.162102

[3560 rows x 2 columns]

In [7]:
import datetime
part_5= pd.to_datetime(df['t'], unit="s")
part_5=part_5.astype(str).str.split(n=0, expand=True)
part_5.columns=['date_in','time_in']
part_5=part_5[['time_in']]
part_5

       time_in
0     18:40:47
1     18:40:49
2     18:40:50
3     18:40:49
4     18:40:51
...        ...
3555  19:40:41
3556  19:40:44
3557  19:40:46
3558  19:40:47
3559  19:40:49

[3560 rows x 1 columns]

In [9]:
part_6= pd.to_datetime(df['hc'], unit="s")
part_6=part_6.astype(str).str.split(n=0, expand=True)
part_6.columns=['date_out','time_out']
part_6=part_6[['time_out']]
part_6
#part_6.index

      time_out
0     14:48:38
1     22:13:13
2     17:45:41
3     18:37:48
4     13:53:31
...        ...
3555  07:47:59
3556  10:50:47
3557  22:13:13
3558  21:55:27
3559  13:47:50

[3560 rows x 1 columns]

In [10]:
final_df= pd.concat([part_1,part_2,part_3,df['cy'],part_4,df['tz'],part_5,part_6],axis=1)
final_df.columns=['web_browser','operating_system', 'From_URL', 'To_URL', 'city',
                           'longtude', 'latitude', 'time_zone', 'time_in', 'time_out'] 
final_df

,web_browser,operating_system,From_URL,To_URL,city,longtude,latitude,time_zone,time_in,time_out
0,Mozilla/5.0,Windows NT 6.1; WOW64,www.facebook.com,www.ncbi.nlm.nih.gov,Danvers,42.576698,-70.954903,America/New_York,18:40:47,14:48:38
1,GoogleMaps/RochesterNY,None,www.AwareMap.com,www.monroecounty.gov,Provo,40.218102,-111.613297,America/Denver,18:40:49,22:13:13
2,Mozilla/4.0,Windows NT 6.1; MSIE 8.0; Windows NT 6.1; WOW6...,t.co,boxer.senate.gov,Washington,38.9007,-77.043098,America/New_York,18:40:50,17:45:41
3,Mozilla/5.0,Macintosh; Intel Mac OS X 10_6_8,None,apod.nasa.gov,Braz,-23.549999,-46.616699,America/Sao_Paulo,18:40:49,18:37:48
4,Mozilla/5.0,Windows NT 6.1; WOW64,www.shrewsbury-ma.gov,www.shrewsbury-ma.gov,Shrewsbury,42.286499,-71.714699,America/New_York,18:40:51,13:53:31
...,...,...,...,...,...,...,...,...,...,...
3555,Mozilla/4.0,Windows NT 6.1; MSIE 9.0; Windows NT 6.1,None,www.fda.gov,Paramus,40.9445,-74.07,America/New_York,19:40:41,07:47:59
3556,Mozilla/5.0,Windows NT 5.1,www.facebook.com,www.okc.gov,Oklahoma City,35.4715,-97.518997,America/Chicago,19:40:44,10:50:47
3557,GoogleMaps/RochesterNY,None,www.AwareMap.com,www.monroecounty.gov,Provo,40.218102,-111.613297,America/Denver,19:40:46,22:13:13
3558,GoogleProducer,None,None,www.ahrq.gov,Mountain View,37.419201,-122.057404,America/Los_Angeles,19:40:47,21:55:27
3559,Mozilla/4.0,Windows NT 6.1; MSIE 8.0; Windows NT 6.1; Trid...,t.co,herndon-va.gov,Mc Lean,38.935799,-77.162102,America/New_York,19:40:49,13:47:50

In [11]:
final_df.isna().sum()

web_browser          120
operating_system     312
From_URL            1705
To_URL               120
city                 641
longtude               0
latitude             641
time_zone            120
time_in              120
time_out             120
dtype: int64

In [12]:
final_df.dropna(axis = 0 , inplace=True )

In [13]:
final_df
#final_df.isna().sum()

,web_browser,operating_system,From_URL,To_URL,city,longtude,latitude,time_zone,time_in,time_out
0,Mozilla/5.0,Windows NT 6.1; WOW64,www.facebook.com,www.ncbi.nlm.nih.gov,Danvers,42.576698,-70.954903,America/New_York,18:40:47,14:48:38
2,Mozilla/4.0,Windows NT 6.1; MSIE 8.0; Windows NT 6.1; WOW6...,t.co,boxer.senate.gov,Washington,38.9007,-77.043098,America/New_York,18:40:50,17:45:41
4,Mozilla/5.0,Windows NT 6.1; WOW64,www.shrewsbury-ma.gov,www.shrewsbury-ma.gov,Shrewsbury,42.286499,-71.714699,America/New_York,18:40:51,13:53:31
5,Mozilla/5.0,Windows NT 6.1; WOW64,www.shrewsbury-ma.gov,www.shrewsbury-ma.gov,Shrewsbury,42.286499,-71.714699,America/New_York,18:40:52,13:55:06
6,Mozilla/5.0,Windows NT 5.1,plus.url.google.com,www.nasa.gov,Luban,51.116699,15.2833,Europe/Warsaw,18:40:55,18:34:14
...,...,...,...,...,...,...,...,...,...,...
3550,Mozilla/4.0,Windows NT 6.1; MSIE 8.0; Windows NT 6.1; Trid...,www.linkedin.com,www.nlm.nih.gov,Conshohocken,40.0798,-75.2855,America/New_York,19:40:37,17:07:12
3553,Mozilla/4.0,Windows NT 6.1; MSIE 7.0; Windows NT 6.0; SLCC...,www.shrewsbury-ma.gov,www.shrewsbury-ma.gov,Shrewsbury,42.286499,-71.714699,America/New_York,19:40:40,13:53:31
3554,Mozilla/4.0,Windows NT 6.1; MSIE 7.0; Windows NT 6.0; SLCC...,www.shrewsbury-ma.gov,www.shrewsbury-ma.gov,Shrewsbury,42.286499,-71.714699,America/New_York,19:40:40,13:55:06
3556,Mozilla/5.0,Windows NT 5.1,www.facebook.com,www.okc.gov,Oklahoma City,35.4715,-97.518997,America/Chicago,19:40:44,10:50:47
3559,Mozilla/4.0,Windows NT 6.1; MSIE 8.0; Windows NT 6.1; Trid...,t.co,herndon-va.gov,Mc Lean,38.935799,-77.162102,America/New_York,19:40:49,13:47:50